.table {
  border: 2px solid black;
  border-collapse: collapse;
  width: 100%;
  height: auto;
  text-align: center;
}

.table__caption {
  background-color: black;
  color: aliceblue;
  height: 70px;
  text-align: center;
  font-size: 60px;
}

.table-head__cell {
  border: 1px solid black;
  height: 40px;
  min-width: 100px;
  background-color: rgba(135, 87, 24, 0.662);
}

.table-body__cell {
  border: 1px solid black;
  height: 30px;
  min-width: 100px;
  background-color: beige;
}
